* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper_homepage {
}

#nav_home {
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid green;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.changeBg {
    background: linear-gradient(to left bottom, #D9F8C4, #F9F3EE);
}

.wrap_nav_home {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo {
    width: 60px;
    height: auto;
    margin-left: 100px;
}

#navbarSupportedContent {
    margin-left: 5vw;
    justify-content: space-around;
}

#navbarSupportedContent li {
    margin: 0 20px;
    align-items: center;

}

#nav_home #navbarSupportedContent .nav_item_text,
.login_text {
    color: #333;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0;
}


.login_text:hover,
#user_email:hover {
    color: #6ECB63;
    text-decoration: none;
}

#navbarDropdown {
    height: 80px;
    width: 80px;
}

#navbarSupportedContent .nav_item_text:hover {
    color: #6ECB63 !important;
}

.nav_drop {
    margin-right: 120px;

}

.acti {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#user_email {
    color: #333;
    font-size: 18px;
    margin: 0 10px;
}

.login_text {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 4px;
}

.login_text:first-child {
    background-color: #28A745;
    border-radius: 5px;
    color: #fff;
}

.login_text:first-child:hover {
    color: #367E18;
    background-color: #fff;
    border: 1px solid #28A745;
}

.bar {
    background-color: #F9F9F9;
    display: none;
    z-index: inherit;
    border-bottom: 1px solid green;
    position: absolute;

}

.left {
    border-right: 1px solid green;
}

.bar .left_bar {
    padding: 20px;
    /* background-color: aquamarine; */
}

.bar ul .category {
    list-style: none;
    font-size: 20px;
    color: black;
    padding: 20px;
}

.bar ul .category:hover {
    cursor: pointer;
    color: #14C38E;
    background: linear-gradient(to left bottom, #D9F8C4, #F9F3EE);
}

.bg_active {
    color: #14C38E;
    background: linear-gradient(to left bottom, #D9F8C4, #F9F3EE);
}

.firstSubCategory,
.secondSubCategory {
    display: none;
}

.item_subcategory {
    padding: 20px;
}

.item_subcategory:hover {
    background: linear-gradient(to left bottom, #D9F8C4, #F9F3EE);
    cursor: pointer;
}

.subCategory {
    color: black;
    text-decoration: none;
}

.subCategory:hover {
    color: #14C38E;
    text-decoration: none;
    opacity: 0.9;
}

.subCategory i {
    color: #FEC260;
}

.bar .right_bar {
    padding: 20px;
    /* background-color: aquamarine; */
}

.active {
    display: block !important;
}

.disable {
    display: none !important;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #00D7FF;
    outline: none;
    background-color: transparent;
    color: #00D7FF;
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

.scrollBtn {
    display: none;
}

/* body */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #b2f3b783;
    padding-top: 100px;

}

.banner_intro {
    margin-right: 3vw;
    margin-left: 15vw;
}

.banner_intro h1 {
    color: #14a800;
    font-size: 70px;
}

.banner_intro h3 {
    color: #777;
}

.banner_img {
    margin: 50px 15vw 50px 3vw;
}

#imgForBanner {
    height: 400px;
    width: 400px;
    clip-path: circle(50% at 50% 50%);
    transition: all 1.5s ease-in-out;
    animation: bannerAni 5s linear infinite;
}

@keyframes bannerAni {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* techonologies list */
.technology {
    margin-top: 100px;
    margin-bottom: 150px;
}

.part {
    text-align: start;
    width: fit-content;
    margin-bottom: 50px;
}

.part h4 {
    transition: all 1s ease-in-out;
    font-weight: 500;
}

.part:hover h4 {
    transform: translateX(10%);
    color: #A91079;
}

.part:hover .line_part {
    width: 110%;
}

.part .line_part {
    margin: 0 0 20px 0;
    width: 100%;
    height: 3px;
    background-color: #256D85;
    transition: width 1s ease-in-out;
}

/* details 2  */
.body_details_2 {
    margin: 100px 0;
}

.items_details_2 {
    text-align: center;
}

.details_2_wrap_img {
    margin: 20px 10px 40px 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.39) 0px 2px 8px 0px;
    border-radius: 10px;
    transition: all 1s ease-out;
}

.details_2_wrap_img:hover {
    transform: scale(1.05);
}

.items_details_2 h5 {
    font-weight: 600;
    color: #0E185F;
}

.items_details_2 h5:hover {
    color: #2E0249;
}

/* items_technology */

.item_techonology {
    background: linear-gradient(to right bottom, #65C18C, #97DBAE);
    border-radius: 20px;
    padding: 40px 20px;
    transition: all 1s ease-in-out;
    margin: 20px 0;
    transition: all 0.5s ease-in-out;
}

.item_techonology:hover {
    background: linear-gradient(to left top, #96CEB4, #C1F4C5);
    transform: scale(1.05);
    border-radius: 20px;
    padding: 40px 20px;
}

.item_technology_description {
    font-size: 12px;
    color: rgb(240, 240, 240);
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_techonology a {
    color: #fff;
}

.item_techonology a:hover {
    text-decoration: none !important;
    color: #0E185F;
}


.item_name {
    color: #fff;
    text-decoration: none;
}


.rating {
    text-decoration: none;
    color: #fff;

}

.rating i {
    padding-right: 8px;
    color: #FEC260;
    margin: 15px 0;
}

.seemore {
    display: flex;
    justify-content: right;
}

#btn_seemore {
    padding: 10px;
    background: linear-gradient(to right bottom, #56BBF1, #5EE6EB);
    border: none;
    border-radius: 10px;
    color: #fff;
    outline: 1px solid #3330E4;
}

#btn_seemore:hover {
    background: linear-gradient(to left top, #56BBF1, #5EE6EB);
    color: #570A57;
}


/* footer */
.footer {
    background-color: #001e00;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.footer .copyright {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer_brand {
    color: #14a800;
    font-size: 25px;
    margin-left: 5px;
}

.footer_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_icon span {
    margin-right: 5px;
}

.footer_icon i {
    color: #fff;
    margin: 0 5px;
    font-size: 30px;
}

.footer_icon i:hover {
    color: #65C18C;
    margin: 0 5px;
    font-size: 30px;
}

