* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: url(../image/bg_login.jpg) no-repeat;
    background-size: cover;

}

.wrapper_login_register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.login_register_form {
    width: 30vw;
    text-align: center;
    border: 1px solid #0b3d9b;
    padding: 70px 70px;
    border-radius: 15px;
    background-color: #fff;
}

.login_form {
    margin-top: 10vh;
}

.form {
    text-align: center;
    justify-content: start;
}

.title {
    margin-bottom: 30px;
}

.title:hover {
    color: #90B77D;
}

.login-register {
    color: black;
    text-decoration: none;
} 

.action_loginform {
    display: flex;
    justify-content: space-between;
}

.login-register:hover {
    cursor: pointer;
    color: #90B77D;
}

.forgot_title {
    width: 100%;
    padding: 8px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.forgot_title:hover {
    color: #fff;
}

.active {
    background-color: #90B77D;
}

.login_valid {
    color: red;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    font-size: 15px;
}

.reset_notify {
    color: green;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 8px;
    border-radius: 15px;
    font-size: 15px;
}

.link_button {
    text-decoration: none;
    color: black;
    text-align: center;
}

.link_button:hover {
    color: #293462;
}

.form-input,
.btn-submit {
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #7FB77E;
    font-size: 17px;
}

.form-input:focus ,.btn-submit:focus {
    outline: none !important;
}

.btn-submit {
    background-color: #90B77D !important;
    cursor: pointer;
    font-size: 20px !important;
}

.btn-submit:active {
    background-color: #90B77D;
    color: #fff;
}

.btn-submit:hover {
    opacity: 0.9;
    color: #fff;
}

.register_btn {
    color: black;
    text-decoration: none;
}